html {
  --yellow: #F6D55C; /* Bright yellow */
  --blue: #1D3557;   /* Dark blue */
  --light-blue: #A8D8B9; /* Mint green */
  --white: #F1F1F1;  /* Light gray */
  --orange: #ED553B; /* Vibrant orange */
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .3s ease-in-out;
  

}
body{
    font-family: poppins, serif;
    font-weight: 400;
    font-style: normal;
  
  
}
h1,h2,h3,h4,h5,h6{
  font-family: poppins;
  font-size: 1.6em;
}
p{
  font-family: nunito;
  font-size: 1.2em;

}
button{
  font-family: poppins;
  font-weight: 300;
}

.whatss{
  overflow-x: hidden;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--blue);
  padding: 10px;

}

header h3 {
  text-transform: uppercase;
  color: #ffffff;
}

h3 span {
  color: var(--yellow);
  font-family: inherit;
}

header ul {
  display: flex;
}

header ul li {
  list-style: none;

}

header ul li a {
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  color: var(--white);
}

.toggle .line {
  width: 30px;
  height: 7px;
  background: var(--white);
  margin: 4px;

}

@media(max-width: 768px) {
  header ul {
    flex-direction: column;
    position: absolute;
    top: 43px;
    left: 0;
    width: 100%;
    background: var(--blue);
    z-index: 9999;
    transform: translateY(-120%)
  } }
  header ul li {
    padding: 15px 0;
  }

  

.open {
  transform: translateY(0)
}

@media(min-width: 768px) {
  .toggle {
    display: none;
  }
}

/*********Hero section**********/
.hero {
    background-image: url(hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}
.sticky{
  position: sticky;
  top: 0;
  width: 100%;
}
.slider{
/* display: flex; */
}
.slide{
  width: 100%;
  height: 100%;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 1;
}
.hero-content{
  z-index: 2;
}

.hero h2 {
  color: var(--white);
  font-size: 2.5rem;
}

.hero .job {
  font-family: lato;
  color: var(--blue);
}

.cta {
  text-decoration: none;
  padding: 7px 15px;
  margin: 0.75rem;
  display: inline-block;
  background-color: var(--yellow);
  color: var(--white);
}

/*******About me Section*****†********/
mark {
  background: transparent;
  font-weight: bold;
  color: var(--blue);
  font-style: italic;
}

#about {
  /* min-height: 60vh; */
  background: var(--light-blue);
  /* text-align: justify; */
  line-height: 1.5;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* flex-wrap: wrap; */
}
.about-text{
  /* width: 50%; */
}

#about h2 {
  color: var(--yellow);

}

#about p {
  padding: 10px;
  margin: 1rem 0;
}

.cta-link {
  text-decoration: none;
  padding: 7px 15px;
  background: var(--yellow);
  color: black;
  /* margin: 15px 0; */
  /* margin-top: 5rem; */
  display: inline-block;
}

span {
  font-family: cursive;
  color: var(--blue);
}

/***********Services Section*******†***/
#services{
  background-image: url(hero-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#services .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  overflow-x: hidden;
  
}

#services h2,
span.damn {
  text-align: center !important;
}
#services h2{
  color: white !important;
  /* display: none; */
  font-size: 2em;
  text-transform: uppercase;
}

.service-item {
  box-shadow: 2px 2px 5px var(--light-blue, 2px -2px #ccc);
  width: 300px;
  padding: 0.75rem;
  line-height: 1.5;
  background: var(--white);
  margin: 1rem;
  border-radius: 5px;
}

.service-title {
  color: var(--blue);
  padding: 10px 0;
  text-transform: uppercase;
}

.img {
  margin: 0 10px;
}



/***********Stats section*********/
.stats {
  width: 100%;
  overflow-x: hidden;



}

.stat {
  width: 90%;
  margin: 10px auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: var(--yellow);
}

.stat h2 {
  font-size: 2em;
  color: var(--blue);
}

.stat p {
  font-size: 16px;
  color: var(--white);
}

@media (min-width: 769px) {
  .stats {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--yellow);
    margin: 10px 0;
  }

  .stat {
    width: 30%;

  }
 
}


/**************Contact**************/


#contact p,
#contact h2 {
  text-align: center;
}
.contact-header{
color: var(--blue);
}
textarea{
  resize: none;
}
form{
  padding: 15px;
  width: 300px;
  height: auto;
}

.social ul{
  list-style: none;
  display: flex;
}
.social ul li{
  margin: 10px;
}
.social ul li i{
  width: 50px;
  height: 50px;
  padding: 15px;
  font-size: 20px;
  background-color: var(--blue);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}
.contact-detail{
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

form input, form textarea {
  width: 100%;
  padding: 15px;
}

.contact-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media(max-width: 768px) {
  .contact-container{
    flex-direction: column-reverse;
  }
}

.btn__submit{
  border: none;
  font-size: 1em;
  width: 100%;
  text-decoration: none;
  padding: 7px 15px;
  display: inline-block;
  background-color: var(--blue);
  color: var(--white);
}





/***********Footer section***********/
footer {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background: var(--blue);
  flex-direction: column ;
  margin: 2rem 0 0 0;
  color: var(--white);
}

footer p {
  margin-right: 5px;
}
footer a{
  color: var(--light-blue);
}

/* --------------Portfolio section---------------- */
#portfolio>h3{
  text-align: center;
  font-size: 2em;
  padding: 15px;
}
.project{
  box-shadow: 3px 3px 5px #ccc, -3px -3px 5px #4840a3;
  position: relative;
  width: 300px;
  height: 300px;
}
.project img{
  width: 100%;
  height: 100%;
}
.projects-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.project-detail{
  text-align: center;
  padding: 5px;
 position: absolute;
 bottom: 0;
 background-color: rgba(0,0,0,0.7); 
 transform: translateY(150%);
 opacity: 0;
transition: 0.3s ease-in-out;
width: 100%;
}

.project:hover .project-detail{
  opacity: 1;
  transform: translateY(0);
}
.project-detail h4{
  color: var(--blue);
  color: var(--yellow);
  font-weight: normal;
  font-size: 1.2em;
  margin: 10px;
}
.project-detail h4 a{
  text-decoration: none;
  color: var(--white);
  padding: 5px 10px;
  background-color: #4840a3;
}
.project-detail p{
  font-size: 1.1em;
  color: var(--white);
}
.project-overlay{
  position: absolute;
}

.cookie-message{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  /* padding: 10px; */
  background-color: #333333;
  color: #fff;
  z-index: 2211;
  position: absolute;
  bottom: 0;
}
.btn-close-cookie{
  background-color: #4840a3;
  color: #fff;
}